.order-container {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .order-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .order {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 44%;
  }
  
  .delete-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    opacity: 0.8;
  }
  .cancel-button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .cancel-button:hover {
    opacity: 0.8;
  }
  .confirm-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .confirm-button:hover {
    opacity: 0.8;
  }

  .buttonorder {
    gap: 15px;
    display: flex;
  }
  /* Order.css */

.container {
    width: 80%;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart, .orders {
    width: 100%;
    margin-top: 20px;
}

.items {
    display: flex;
    justify-content: space-around;
}

.item {
    text-align: center;
}

.total {
    text-align: center;
}
