.str .top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.str .top .pocket{
  padding: 10px 20px;
  border-radius: 5px;
  
  color: rgb(3, 3, 3);
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  