.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* padding: 0 20px; */
    height: 60px;
    border-bottom: 3px solid black;
}
.menu .buttons{
    display: flex;
    
    gap: 20px;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.menu ul .role{
    font-size: 20px;
    color: blue;
    float: right;
}
.menu ul .pocket{
    padding: 5px;
    border-color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);   
}
.menu ul .pocket:hover{
    background-color: rgb(231, 231, 231);
}
.menu ul a{
    text-decoration: none;color: black;
    font-size: 20px;
    
}
.menu ul a:hover{
        color: blue;
    }